* {
    margin: 0;
    padding: 0:
}


header {
  color: 	#E194F9;
  font-size: 40;
  background-color: #FEFEFE;
  text-align: center;
}

body {
  background-color: #E194F9;
  color: #FEFEFE;
}

p {
  margin-left: 100px;
  margin-right: 100px;
}

h2 {
  text-align: center;
}
