* {
    margin: 0;
    padding: 0;
}


header {
  color: 	#FEFEFE;
  font-size: 40;
  background-color: #8EE3F9;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
  background-color: #FEFEAA;
  color: #64BCEF;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 17px;
}

h2 {
  text-align: center;
  font-size: 45px;
}

ul {
  margin-left: 100px;
  margin-right: 100px;
}

ol {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}

table {
  margin: 0 auto;
  width: 70%;
}
th {
  background-color: #BE81F7;
  color: #FEFEFE;
}

tr:nth-child(odd) {
  background-color: #F2F2F2;
  text-align: center;
  font-size: 20px;
}

tr:nth-child(even) {
  background-color: #FEFEFE;
  text-align: center;
  font-size: 20px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height= 25%;
  width= 25%;
}

nav {
  list-style: none;
  margin: 0 2px;
  padding: 8px;
  background-color: #EAF9FF;
  display: flex;
  justify-content: space-around;
}

footer {
  text-align: center;
  font-size: 14px;
}

.section-header {
  font-size: 24px;
  text-decoration: underline;
}

.difficulty {
  font-size: 24px;
  color: #FF6961;
  text-decoration: underline;
}

.caption {
  font-size: 17px;
  font-style: italic;
  text-align: center;
}

#imagehyperlinkcaption {
  border-bottom: 5px solid #64BCEF;
  background-color: #F2F2F2;
  text-align: center;
}

#mainpagetext {
  font-size: 25px;
  font-style: italic;
  text-align: center;
}

#tabletitle {
  text-align: center;
  color: #BE81F7;
  font-size: 24px;
  text-decoration: underline;
}

a[href="https://silpat.com/"] {
  color: #A4A4A4;
}

a[href="https://www.ucvts.tec.nj.us"] {
  color: #A4A4A4;
}

a[href="https://www.ucvts.tec.nj.us/Page/471"] {
  color: #A4A4A4;
}

a[href="index.html"] {
  color: #1CE3C5;
}

a[href="recipe1.html"] {
  color: #1CE3C5;
}

a[href="recipe2.html"] {
  color: #1CE3C5;
}

a[href="recipe3.html"] {
  color: #1CE3C5;
}

a[href="recipe4.html"] {
  color: #1CE3C5;
}

a[href="recipe5.html"] {
  color: #1CE3C5;
}

a[href="recipe6.html"] {
  color: #1CE3C5;
}

a[href="https://www.foodnetwork.com/recipes/banana-bread-recipe-1969572"] {
  color: #ED9DFB;
}

a[href="https://www.onceuponachef.com/recipes/chocolate-mousse.html"] {
  color: #ED9DFB;
}

a[href="https://www.livewellbakeoften.com/no-bake-oreo-cheesecake/"] {
  color: #ED9DFB;
}

a[href="https://www.youtube.com/watch?v=3nsanqYnvis"] {
  color: #ED9DFB;
}

a[href="https://www.homecookingadventure.com/recipes/chocolate-macarons"] {
  color: #ED9DFB;
}

a[href="https://www.aheadofthyme.com/2017/02/classic-french-macaron-with-vanilla-buttercream-filling/"] {
  color: #ED9DFB;
}

a:hover {
  color: #585858;
  border: 1px solid #A4A4A4;
  background-color: #E6E6E6;
}
